/**
 * 在球场
 * zaiqiuchang.com
 */

.post-item {
  margin-bottom: 10px;
  padding: 5px;

  .head {
    .avatar {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .user, .court {
        height: 30px;
    }
  }

  .text {
    margin: 5px 0;
  }

  .images {
    a {
      position: relative;
      margin: 5px;

      img {
        width: 100px;
        height: 100px;
      }

      svg {
        font-size: 36px;
        opacity: 0.8;
      }
    }
  }

  .foot {
    padding: 5px 0;

    button {
      margin: 0 5px;
    }
  }
}
